<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      body.dark {
        background-color: #333;
        color: #fff;
      }
    </style>
  </head>
  <body class="<%= theme %>">
    <h1>Welcome, <span id="username"><%= username %></span>!</h1>
    <form action="/toggle-theme" method="POST">
      <button id="toggle-theme" type="submit">Toggle Theme</button>
    </form>
    <form action="/logout" method="GET">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
